<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.dms.mapper.DmsDriverRankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.dms.model.DmsDriverRank">
        <id column="rank_id" property="rankId" />
        <result column="rank_name" property="rankName" />
        <result column="min_points" property="minPoints" />
        <result column="max_points" property="maxPoints" />
        <result column="discount" property="discount" />
        <result column="show_price" property="showPrice" />
        <result column="special_rank" property="specialRank" />
    </resultMap>

</mapper>
